/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* 컨테이너 */
.container {
    max-width: 90%; /* 기본적으로 화면의 90% 너비 사용 */
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .container {
        max-width: 700px; /* 태블릿 이상에서는 700px로 제한 */
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px; /* 데스크탑에서는 1200px로 확대 */
    }
}

/* 헤딩 스타일 */
h2 {
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* 폼 레이블 */
.form-label {
    font-weight: bold;
}

/* 버튼 스타일 */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* 알림 메시지 */
.alert {
    margin-bottom: 20px;
}

/* 이미지 스타일 */
#currentPhoto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}


.info-window {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.info-window h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.info-window img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

/* 모달 전체 화면을 어둡게 하는 배경 */
.photo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* 반투명 검정 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 높은 우선순위 */
}

/* 모달 내부 사진 컨테이너 */
.photo-modal-content img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}
.d-none {
    display: none !important;
}